.header {
height: 80px;
    width: 100%;
    background: #61dafb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 414px) {
 .header {
     justify-content: center;
 }
}