.profile {
    width: 900px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;

}

@media (min-width: 200px) and (max-width: 425px) {
    .profile {
        width: 80%;
        display: block;
     margin: 0px 0px 0px 10%;
        height: 100%;
    }
}


